<%= form_with scope: :buy, url: buy_path,  method: "POST", class: "buy-form" ,local: true do |form| %>
  <%= form.text_field :fio, placeholder: "Ф.И.О.", :required => true, :minlength => 3 %>
  <%= form.email_field :adress, placeholder: "Ваш e-mail", :required => true %>
  <%= form.text_field :phone, placeholder: "Ваш номер телефона", :required => true, :type => 'tel', :pattern => '^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$' %>
  <%= form.text_field :company, placeholder: "Название компании", :required => true %>
  <%= form.text_area :comment, placeholder: "Задайте свой вопрос" %>
  <p>Нажимая кнопку заказать вы даете согласие на обработку персональных данных.</p>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.submit :submitbtn, value: "Отправить", class: "t-s-link-button"%>
  </p>
<% end %>