<div id="content" style="background-color: #fff; padding: 0">
<div class="top-slider">
  <img src="<%= image_path('slider1.png') %>" alt="slider 1" sizes="100vw">
  <div class="t-s-text">
    <h2>Flowdox СУПД</h2>
    <p>
      Система управления проектной
      деятельностью представляет собой
      высококачественный мощный инструмент
      для создания корпоративной культуры
      Компании по проектному управлению
    </p>
    <p class="start-now">
      Начните прямо <span>сейчас!</span>
    </p>
    <div class="t-s-link-button">
      <a href="buy.html">Перейти к заказу</a>
    </div>
  </div>
</div>
<div class="clients">
  <div class="clients-place">
    <img src=" <%= image_path('client1.png') %>" alt="Роснефть" >
  </div>
  <div class="clients-place">
    <img src=" <%= image_path('client2.png') %>" alt="Научный центр изучения арктики" >
  </div>
  <div class="clients-place">
    <img src=" <%= image_path('client3.png') %>" alt="Газпром" >
  </div>
  <div class="clients-place">
    <img src=" <%= image_path('client4.png') %>" alt="Томскнефть" >
  </div>
  <div class="clients-place">
    <img src=" <%= image_path('client5.png') %>" alt="Энегронефть" >
  </div>
</div>
<div class="about-system">
  <div class="page-title" style="margin-bottom: 1.5em; padding-bottom: 0; border: none;">
    <H1>О системе</H1>
  </div>
  <div class="about-system-conteiner">
    <div class="a-s-c-content">
      <div>
        <div><img src=" <%= image_path('image.png') %>" alt="a-s-c-c-icon"></div>
        <article>
          Обеспечит достижение стратегических<br>
          целей Компании
        </article>
      </div>
      <div>
        <div><img src=" <%= image_path('image2.png') %>" alt="a-s-c-c-icon"></div>
        <article>
          Повысит эффективность сотрудников
        </article>
      </div>
      <div>
        <div><img src=" <%= image_path('image3.png') %>" alt="a-s-c-c-icon"></div>
        <article>
          Выстроит коммуникации между<br>
          участниками проектов
        </article>
      </div>
      <div>
        <div><img src=" <%= image_path('image4.png') %>" alt="a-s-c-c-icon"></div>
        <article>
          Обеспечивает возможность интеграции с 1С и СУД<br>(Система учета договоров)
        </article>
      </div>
    </div>
  </div>
</div>
</div>