<div id="content">
  <div class="page-title">
    <H1>услуги</H1>
  </div>
  <div class="services">
    <div class="service">
      <div>
        <img src=" <%= image_path('service1.png') %>  " alt="услуга">
      </div>
      <article>
        <h3>
          Обследование бизнес-процессов Вашей компании, выявление проблем, которые можно решить с помощью СУПД
        </h3>
        <p>
          Повседневная практика показывает, что сложившаяся структура организации играет важную роль в
          формировании новых предложений. Значимость этих проблем настолько очевидна, что постоянное
          информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает
          создание системы обучения кадров, соответствует насущным потребностям.
        </p>
      </article>
    </div>
    <div class="service">
      <div>
        <img src=" <%= image_path('service2.png') %>  " alt="услуга">
      </div>
      <article>
        <h3>
          Формирование конфигурации СУПД под Ваши требования
        </h3>
        <p>
          Повседневная практика показывает, что сложившаяся структура организации играет важную роль в
          формировании новых предложений. Значимость этих проблем настолько очевидна, что постоянное
          информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает
          создание системы обучения кадров, соответствует насущным потребностям.
        </p>
      </article>
    </div>
    <div class="service">
      <div>
        <img src=" <%= image_path('service3.png') %>  " alt="услуга">
      </div>
      <article>
        <h3>
          Установка ПО на компьютеры Ваших специалистов
        </h3>
        <p>
          Повседневная практика показывает, что сложившаяся структура организации играет важную роль в
          формировании новых предложений. Значимость этих проблем настолько очевидна, что постоянное
          информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает
          создание системы обучения кадров, соответствует насущным потребностям.
        </p>
      </article>
    </div>
    <div class="service">
      <div>
        <img src=" <%= image_path('service4.png') %>  " alt="услуга">
      </div>
      <article>
        <h3>
          Обучение сотрудников
        </h3>
        <p>
          Повседневная практика показывает, что сложившаяся структура организации играет важную роль в
          формировании новых предложений. Значимость этих проблем настолько очевидна, что постоянное
          информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает
          создание системы обучения кадров, соответствует насущным потребностям.
        </p>
      </article>
    </div>
    <div class="service">
      <div>
        <img src=" <%= image_path('service5.png') %>  " alt="услуга">
      </div>
      <article>
        <h3>
          Техническое сопровождение
        </h3>
        <p>
          Повседневная практика показывает, что сложившаяся структура организации играет важную роль в
          формировании новых предложений. Значимость этих проблем настолько очевидна, что постоянное
          информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает
          создание системы обучения кадров, соответствует насущным потребностям.
        </p>
      </article>
    </div>
  </div>
</div>